.quote-main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 30px auto;
}

.quote-main-img {
    width: 50%;
    text-align: center;
    margin: 0px auto;
}

.quote-img {
    width: 100%;
    max-width: 600px;
}

.quote-form {
    width: 50%;
    max-width: 1000px;
    min-width: 300px;
    margin: 0px auto;
}

#quote-heading, .quote-sub-heading  {
    text-align: center;
}

.auto-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 280px;
    margin: 0 auto;
}

.form-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px !important;
}

.form-btn {
    padding: 10px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

.form-btn:hover {
    background-color: rgb(128, 56, 30);
}

.permission {
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 1170px) {
    .quote-main-container {
        display: block;
    }

    .quote-main-img {
        width: 100%;
        margin-bottom: 50px;
    }

    .quote-img {
        width: 80%;
    }
    
}